body{
    margin:auto
}
a{
    text-decoration: none;
}
/*Header Css*/
header{
    height:60px;
    color:#fff;
    /* border:2px solid red; */
    background-color:#3b2632
}
#brand{
    float:left;
    margin-left: 2%;
    margin-top: -1%;
}
#social{
    float:right;
    margin-right: 2%;
}
.socialLogo{
    height:35px
}
/*Search Css*/
#search{
    height:400px;
    position:relative;
    background-size:100% 400px;
    
}
#logo{
    height:150px;
    width:150px;
    background-color:#fff;
    border-radius:50%;
    position:absolute;
    margin-top:2%;
    margin-left: 45%;
    font-size:90px;
}

#logo >span{
    margin-left:22%;
    margin-top:6%;
    position:absolute; 
}

#heading{
    font-size:50px;
    color:white;
    
}
#dropdown{
    width:110%;
    /* border:2px solid white; */
    /* height:60px;
    margin-left:27%;
    margin-top:19%;
    position:absolute; */
}
select{
    font-size:20px;
    text-align: center;
    width:40%;
    height:60px
}
#restaurants{
    width:135%;
}
/*QuickSearch Css*/
#quickSearch{
    width:80%;
    /* border:2px solid orange; */
    margin-left:10%;
    margin-top:2%;
    display: inline-block;
}

#quickHeading{
    display:block;
    font-size:30px;
    margin-left:2%;
    color:#3b2632;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#quickSubHeading{
    display:block;
    font-size:20px;
    margin-left:2%;
    color:gray;
    line-height: 2;
}

.tileContainer{
    width:30%;
    height:180px;
    box-shadow: 10px 20px 15px #3b2632;
    float:left;
    margin-top:2%;
    margin-left:2%
}

.tileComponent1{
    width: 50%;
    height:180px;
    float:left
}

.tileComponent1 > img{
    width:100%;
    height:100%
}
.tileComponent2{
    width: 45%;
    float:left;
    margin-left:5%;
    margin-top:15%
}

.componentHeading > a{
    color: #3b2632;
    font-size:25px;
}

.componentSubHeading{
    color:gray;
    font-size:20px;
}

/*Footer Css*/
footer{
    margin-top:5%;
    height:220px;
    text-align: center;
    background-color:#eeb9b9;
    color:white
    /* border:2px solid purple */
}
footer h4{
    color:red;
}

.footDiv{
    height:150px;
    width:33%;
    float:left;
    border-right:1px solid white
}
.footDiv p{
    font-size: 16px;
    color: black;
}
.noborder{
    border:none
}

nav{
    box-shadow: 0 5px 12px gray;
}
.card-dim{
    height:25vh;
    box-shadow: 10px 10px 10px gray;
    overflow: hidden;
}
.img-card img{
    height:25vh;
    width: 100%;
}
.img-card img:hover{
    opacity: 0.5;
}
.card a{
    text-decoration: none;
}
.card a:hover{
    transform: scale(1.02);
}
.card-text{
    color: black;
    font-size: 16px;
}
.card-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.navbar-brand{
    font-family: sans-serif;
    font-weight: 550;
    color: red;
}
.bg-img{
    object-fit: cover;
    width:100%;
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
}
.pos-must{
    position: absolute;
    top: 15%;
    left : 20%;
    width:50%;
    display: inline-block;
}
.pos-must row{
    display: inline-block;
    width:100%;
}
.headingDiv{
    height: 80px;
    position: absolute;
    top: 150px;
    left: 12%;
}
.dropdownDiv{
    position: absolute;
    top: 220px;
    left: 14%;
}
.btn{
    padding: 0.25rem .65rem;
}



@media (min-width: 1105px){
    div#heading{
        font-size: 40px;
    }
    .headingDiv{
        left: 20%;
    }
    .dropdownDiv{
        top: 210px;
    }
    .card-dim, .img-card img{
        height: 27vh;
    }
    .btn{
        margin-top: -12px;
    }
}
@media (max-width: 1105px){
    div#heading{
        font-size: 35px;
    }
    .dropdownDiv{
        top: 205px;
    }
    .card-dim, .img-card img{
        height: 27vh;
    }
    .btn{
        margin-top: -12px;
    }
}
@media (max-width: 977px){
    div#heading{
        font-size: 30px;
    }
    .headingDiv{
        left: 25%;
    }
    .dropdownDiv{
        top: 195px;
    }
    .card-dim, .img-card img{
        height: 27vh;
    }
}

@media (max-width: 891px){
    div#heading{
        font-size: 24px;
    }
    .headingDiv{
        left: 25%;
    }
    .dropdownDiv{
        top: 190px;
    }
    .card-dim, .img-card img{
        height: 27vh;
    }    
}
@media (max-width: 768px){
    div#heading{
        font-size: 18px;
    }
    .headingDiv{
        left: 35%;
    }
    .dropdownDiv{
        top: 180px;
    }
    .card-dim, .img-card img{
        height: 25vh;
    }
    .card-body h5, .card-body p{
        font-size: 14px;
    }
    .btn{
        margin-top: -10px;
    }
}

@media (max-width:600px){
    div#heading{
        font-size: 18px;
        width: 250px;
    }
    .headingDiv{
        left: 35%;
    }
    .dropdownDiv{
        top: 180px;
    }
    .card-dim, .img-card img{
        height: 25vh;
    }
    .card-body h5, .card-body p{
        font-size: 14px;
    }
    .btn{
        margin-top: -5px;
    }
}

@media (min-width: 300px) and (max-width: 499px){
    div#heading{
        font-size: 18px;
        width: 220px;
    }
    .headingDiv{
        left: 35%;
    }
    .dropdownDiv{
        top: 180px;
    }
    .card-dim, .img-card img{
        height: 18vh;
    }
    .card-body h5, .card-body p{
        font-size: 26px;
    }
    .btn{
        margin-top: -5px;
    }
}
